@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

[disabled=true] {
  cursor: not-allowed;
  opacity: 0.5;
}

@layer utilities {
  .image-rendering-crisp {
    image-rendering: -webkit-optimize-contrast;
  }
}
